<h2>My Projects:</h2>
<ul class="projects">
  <li *ngFor="let project of projects"
  [class.select]="project === selectedProject"
  (click)="onSelect(project)">
    <span class="badge">{{project.time}}</span> {{project.name}}
  </li>
</ul>

<div *ngIf="selectedProject">
  <h2>{{selectedProject.name | uppercase}}:</h2>
  <div><span>Name: </span> {{selectedProject.name}}</div>
  <div>
    <label>Description: {{selectedProject.description}}</label>
    <br/>
    <label>Time: {{selectedProject.time}} </label>
  </div>
</div>